<% include ../partials/header %>



<div class="row">
    <div class="col-lg-6 col-md-offset-3">

        <% if (message.length > 0) { %>
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismmiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <%= message %>
        </div>
        <% } %>

        <form method="post">

            <h1> Add a new Game</h1>
            <div class="form-group">
                <label="name">Name: </label>
                    <input type="text" class="form-control" name="name">
                    <label="name">Price: </label>
                        <input type="text" class="form-control" name="price">
                        <label="name">Image: </label>
                            <input type="text" class="form-control" name="image">
                            <label="category">Category: </label>
                        <select name="category" class="form-control" >
                            <% for (var i = 0; i < categories.length; i++)  { %>
                                <option value="<%= categories[i]._id %>"><%= categories[i].name %></option>
                              <% } %>

                        </select>
            </div>

            <button type="submit" class="btn btn-success">Submit</button>

        </form>
    </div>
</div>


<% include ../partials/footer %>